Hide Url Bar in iOS and Android

## Issue

In IOS and Android, showing the URL bar and chrome client which is not that good user experience.
Is any way to hide that bar and showing only modal?

<img width="488" alt="Screen Shot 2023-03-10 at 9 56 22 AM" src="https://user-images.githubusercontent.com/16605998/224392349-614d34f2-0799-4386-8429-38869af55223.png">



---

## Environment

* **Your Identity Provider**: `Azure B2C`
* **Platform that you're experiencing the issue on**: ` both`
* **Are you using Expo?** No
*  "react-native-app-auth": "^7.0.0-rc2",



This is a mandatory behavior detailed in [Section 8.12 of RFC 8252](https://tools.ietf.org/html/rfc8252#section-8.12). To summarize: The auth flow is handled by the system's browser in order not to expose user data to the application and the URL bar is displayed in order to let the user check if the URL and certificate (small lock next to the URL) are trusted.